<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rain.blog.backend.mapper.BlogPostMapper">

    <resultMap id="BaseResultMap" type="com.rain.blog.backend.model.entity.BlogPost">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="summary" column="summary" />
            <result property="slug" column="slug" />
            <result property="coverKey" column="cover_key" />
            <result property="categoryId" column="category_id" />
            <result property="categoryName" column="category_name" />
            <result property="status" column="status" />
            <result property="isTop" column="is_top" />
            <result property="viewCount" column="view_count" />
            <result property="likeCount" column="like_count" />
            <result property="publishTime" column="publish_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,summary,slug,cover_key,category_id,
        category_name,status,is_top,view_count,like_count,
        publish_time,create_time,update_time,deleted
    </sql>
</mapper>
